@using LocalList.Utilities.Model
@model PageOptionModel
@{
    var linkSize = 10;
    var totalPage = (int)Math.Ceiling((Model.Option.Count / (double)Model.Option.Size));
    var n1 = (Model.Option.Current - 1) / linkSize;
    var startPage = n1 * linkSize + 1;
    var endPage = (n1 + 1) * linkSize;
    endPage = endPage > totalPage ? totalPage : endPage;
    //
    var lastPageLinkEnable = startPage > 10;
    var nextPageLinkEnable = endPage < totalPage;
}
<nav>
    <ul class="pagination">
        <li class="page-item">
            @if (lastPageLinkEnable)
            {

                <a class="page-link" asp-all-route-data="Model.Routes" asp-route-current="@(startPage-1)">上一页</a>}
            else
            {
                <a class="page-link">上一页</a>}
        </li>
        @for (int i = startPage; i <= endPage; i++)
        {
            <li class="page-item"><a class="page-link" asp-all-route-data="Model.Routes" asp-route-current="@i">@i</a></li>
        }
        @if (nextPageLinkEnable)
        {
            <li class="page-item"><a class="page-link" asp-all-route-data="Model.Routes" asp-route-current="@(endPage+1)">下一页</a></li>}
        else
        {
            <li class="page-item"><a class="page-link">下一页</a></li>
        }
    </ul>
</nav>