@page
@model LocalList.Pages.Projects.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Project</h4>
<hr />
<form class="row" method="post">
    <div class="col-sm-6 col-lg-5">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Project.Id" />
        <div class="form-group">
            <label asp-for="Project.Name" class="control-label"></label>
            <input asp-for="Project.Name" class="form-control" />
            <span asp-validation-for="Project.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Project.Title" class="control-label"></label>
            <input asp-for="Project.Title" class="form-control" />
            <span asp-validation-for="Project.Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Project.Address" class="control-label"></label>
            <input asp-for="Project.Address" class="form-control" />
            <span asp-validation-for="Project.Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Project.Description" class="control-label"></label>
            <textarea rows="4" asp-for="Project.Description" class="form-control"></textarea>
            <span asp-validation-for="Project.Description" class="text-danger"></span>
        </div>
    </div>
    <div class="col-sm-6">
        @(await Component.InvokeAsync<TagViewComponent>(new { tagId=Model.TagId ,inputName="tagId"}))
    </div>
    <div class="form-group col-12">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
</form>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
